body, html{
  margin: 0;
  padding: 0;
}

.c1 {
    background-color: #990033;
    color: white;
    font-family: verdana;
    font-size: 30px;
    text-align: center;
}
.c2 {
    background-color: #00ffff;
    color:#003300;
    text-align: center;
    }
h1{

    color: #003300;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }
  .categories_img{
    max-width: 100%;
    margin: auto;
  }
   .caption{
     display: block;
     font-size: 15px;
    font-family: verdana;
    text-align: center;
    font-variant:small-caps;
    font-weight:bolder;
    color: #003300
   }

    .img_c2 {
      border-radius: 10px;
      border: 10px solid #ddd;
      padding: 5px;
      max-width: 20%;
      width: 200px;
      height: 150px;
      padding: 0 6px;
}
    }
.c3 {
    background-color: #ccffcc;
}
.c4 {
    background-color: white;
}
.c5 {
    background-color: #ffcc66;
}
.c6 {
    background-color: #ff0066;
}
.c7 {
    background-color: #3366ff;
}


nav img {
    width: 120px;
    height: 60px;
    float: left;
  }

footer{
  background-color: #0000cc;

}
nav{
 font-size: 10px;
}

header nav ul li {
    list-style-type: none;
    border: none;
    padding: 15px;
    display: inline-block;
    left: 100px;
    color: white;
    font-family: verdana;
    }
}
header nav ul {
    float: right;

  }
  .line:hover{
  background-color:#990080
    }
